@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project custom styles */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom styles for react-beautiful-dnd placeholders */
.react-beautiful-dnd-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 5000;
}
